# ============================================================
# PULSECORE - Variables de entorno
# Renombrar este archivo a .env y completar los valores
# ============================================================

# MySQL
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DATABASE=pulsecore
MYSQL_USER=root
MYSQL_PASSWORD=tu_password_aqui

# MongoDB
MONGO_URI=mongodb://localhost:27017
MONGO_DATABASE=pulsecore

# JWT
JWT_SECRET=cambia_este_secreto_por_algo_seguro
JWT_EXPIRES_IN=8h

# Servidor
PORT=3000
